*/bin/
*/gen/
facebook-android-sdk-3.14.1/facebook/bin/
clarp_returns/.settings/org.eclipse.jdt.core.prefs
facebook-android-sdk-3.14.1/facebook/gen/
appcompat_v7_clarpcompat/.settings/org.eclipse.jdt.core.prefs
